# Archivos de configuración de VSCode
.vscode/

# Archivos de sistema
*.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
terraform.tfvars
*.tfplan

# Python (por si hay Lambda local)
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
.env.*

# ZIPs de Lambda
*.zip

# Logs y temporales
*.log
*.bak
*.tmp
*.swp
